@tailwind base;
@tailwind components;
@tailwind utilities;

video::cue {
  color: var(--sub-color, #fff);
  background-color: var(--sub-bg, rgba(0,0,0,.7));
  text-shadow: var(--sub-edge, none);
  font-size: var(--sub-scale, 100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
